{% extends 'base.html' %}
{% load static %}
{% block header_pretitle %}
    overview
{% endblock %}
{% block header_title %}
    Dashboard
{% endblock %}
{% block header_button %}
    <button class="btn btn-outline-success lift" data-bs-toggle="modal" data-bs-target="#modalUploadPictureToAnalyze">
        <span class="fe fe-video text-danger"></span> Scanner
    </button>
{% endblock %}
{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.2.0/chart.umd.js"></script>
    <div class="modal" id="modalUploadPictureToAnalyze" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post"
                      enctype="multipart/form-data">{% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title">Import picture</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{ form.file }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Analyze</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
          <div class="col-12 col-lg-6 col-xl">

            <!-- Value  -->
            <div class="card">
              <div class="card-body">
                <div class="row align-items-center gx-0">
                  <div class="col">

                    <!-- Title -->
                    <h6 class="text-uppercase text-muted mb-2">
                      Tonnage Total France Déchet
                    </h6>

                    <!-- Heading -->
                    <span class="h2 mb-0">
                      {{ tonnage_total_france }}
                    </span>

                    <!-- Badge -->
                      {% if diff_tonnage_total_france < 0 %}
                           <span class="badge bg-success-soft mt-n1">
                          - {{ diff_tonnage_total_france }} %
                      {% else %}
                           <span class="badge bg-danger-soft mt-n1">
                          + {{ diff_tonnage_total_france }} %
                      {% endif %}

                    </span>
                  </div>
                  <div class="col-auto">

                    <!-- Icon -->
                    <span class="h2 fe fe-dollar-sign text-muted mb-0"></span>

                  </div>
                </div> <!-- / .row -->
              </div>
            </div>

          </div>
          <div class="col-12 col-lg-6 col-xl">

            <!-- Hours -->
            <div class="card">
              <div class="card-body">
                <div class="row align-items-center gx-0">
                  <div class="col">

                    <!-- Title -->
                    <h6 class="text-uppercase text-muted mb-2">
                      Tonnage Verre
                    </h6>

                    <!-- Heading -->
                    <span class="h2 mb-0">
                      {{ tonnage_total_annee_verre }} T
                    </span>

                  </div>
                  <div class="col-auto">

                    <!-- Chart -->
                    <div class="chart chart-sparkline">
                        <canvas class="chart-canvas" id="chart_verre" style="display: block; box-sizing: border-box; height: 35px; width: 75px;" width="75" height="35"></canvas>
                    </div>

                  </div>
                </div> <!-- / .row -->
              </div>
            </div>

          </div>
          <div class="col-12 col-lg-6 col-xl">

            <!-- Exit -->
            <div class="card">
              <div class="card-body">
                <div class="row align-items-center gx-0">
                  <div class="col">

                    <!-- Title -->
                    <h6 class="text-uppercase text-muted mb-2">
                      Tonnage Plastique
                    </h6>

                    <!-- Heading -->
                    <span class="h2 mb-0">
                      {{ tonnage_total_annee_plastique }} T
                    </span>

                  </div>
                  <div class="col-auto">

                    <!-- Chart -->
                    <div class="chart chart-sparkline">
                        <canvas class="chart-canvas" id="chart_plastique" style="display: block; box-sizing: border-box; height: 35px; width: 75px;" width="75" height="35"></canvas>
                    </div>

                  </div>
                </div> <!-- / .row -->
              </div>
            </div>

          </div>
          <div class="col-12 col-lg-6 col-xl">

            <!-- Time -->
            <div class="card">
              <div class="card-body">
                <div class="row align-items-center gx-0">
                  <div class="col">

                    <!-- Title -->
                    <h6 class="text-uppercase text-muted mb-2">
                      Tonnage Menager
                    </h6>

                    <!-- Heading -->
                    <span class="h2 mb-0">
                      {{ tonnage_total_annee_menager }} T
                    </span>

                  </div>
                  <div class="col-auto">

                    <!-- Chart -->
                    <div class="chart chart-sparkline">
                        <canvas class="chart-canvas" id="chart_menager" style="display: block; box-sizing: border-box; height: 35px; width: 75px;" width="75" height="35"></canvas>
                    </div>

                  </div>
                </div> <!-- / .row -->
              </div>
            </div>

          </div>
        </div>
{% endblock %}


{% block dashboard_chart %}
<script>
    function createChart(elementId, tonnageData) {
  const chart = document.getElementById(elementId);
  new Chart(chart, {
    type: 'line',
    options: {
      scales: {
        y: {
          display: false
        },
        x: {
          display: false
        }
      },
      elements: {
        line: {
          borderWidth: 2,
          borderColor: '#D2DDEC'
        },
        point: {
          hoverRadius: 0
        }
      },
      plugins: {
        tooltip: {
          external: function() {
            return false;
          }
        }
      }
    },
    data: {
      labels: new Array(6).fill('Label'),
      datasets: [{
        data: tonnageData
      }]
    }
  });
}

createChart('chart_plastique', {{ tonnage_total_plastique }});
createChart('chart_verre', {{ tonnage_total_verre }});
createChart('chart_menager', {{ tonnage_total_menager }});


</script>
{% endblock %}