{% extends 'base.html' %}
{% load static %}
{% block header_button %}
    <button class="btn btn-outline-success lift" data-bs-toggle="modal" data-bs-target="#modalUploadPictureToAnalyze">
        <span class="fe fe-video text-danger"></span> Scanner
    </button>
{% endblock %}
{% block content %}
    <div class="modal" id="modalUploadPictureToAnalyze" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post"
                      enctype="multipart/form-data">{% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title">Import picture</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{ form.file }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Analyze</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
          <div class="col-12 col-lg-6 col-xl">

            <!-- Value  -->
            <div class="card">
              <div class="card-body">
                <div class="row align-items-center gx-0">
                  <div class="col">

                    <!-- Title -->
                    <h6 class="text-uppercase text-muted mb-2">
                      Tonnage Total France Déchet
                    </h6>

                    <!-- Heading -->
                    <span class="h2 mb-0">
                      T 24500
                    </span>

                    <!-- Badge -->
                    <span class="badge bg-success-soft mt-n1">
                      -2.5%
                    </span>
                  </div>
                  <div class="col-auto">

                    <!-- Icon -->
                    <span class="h2 fe fe-dollar-sign text-muted mb-0"></span>

                  </div>
                </div> <!-- / .row -->
              </div>
            </div>

          </div>
          <div class="col-12 col-lg-6 col-xl">

            <!-- Hours -->
            <div class="card">
              <div class="card-body">
                <div class="row align-items-center gx-0">
                  <div class="col">

                    <!-- Title -->
                    <h6 class="text-uppercase text-muted mb-2">
                      Tonnage Verre
                    </h6>

                    <!-- Heading -->
                    <span class="h2 mb-0">
                      763.5
                    </span>

                  </div>
                  <div class="col-auto">

                    <!-- Icon -->
                    <span class="h2 fe fe-briefcase text-muted mb-0"></span>

                  </div>
                </div> <!-- / .row -->
              </div>
            </div>

          </div>
          <div class="col-12 col-lg-6 col-xl">

            <!-- Exit -->
            <div class="card">
              <div class="card-body">
                <div class="row align-items-center gx-0">
                  <div class="col">

                    <!-- Title -->
                    <h6 class="text-uppercase text-muted mb-2">
                      Tonnage Plastique
                    </h6>

                    <!-- Heading -->
                    <span class="h2 mb-0">
                      35.5%
                    </span>

                  </div>
                  <div class="col-auto">

                    <!-- Chart -->
                    <div class="chart chart-sparkline">
                      <canvas class="chart-canvas" id="sparklineChart" style="display: block; box-sizing: border-box; height: 35px; width: 75px;" width="150" height="70"></canvas>
                    </div>

                  </div>
                </div> <!-- / .row -->
              </div>
            </div>

          </div>
          <div class="col-12 col-lg-6 col-xl">

            <!-- Time -->
            <div class="card">
              <div class="card-body">
                <div class="row align-items-center gx-0">
                  <div class="col">

                    <!-- Title -->
                    <h6 class="text-uppercase text-muted mb-2">
                      Tonnage Menager
                    </h6>

                    <!-- Heading -->
                    <span class="h2 mb-0">
                      1456,7 T
                    </span>

                  </div>
                  <div class="col-auto">

                    <!-- Icon -->
                    <span class="h2 fe fe-clock text-muted mb-0"></span>

                  </div>
                </div> <!-- / .row -->
              </div>
            </div>

          </div>
        </div>
{% endblock %}